h1{
    color: crimson;
    border: 5px solid red;
}

h1:hover{
    color: rgb(36, 36, 255);
    border: 5px solid yellowgreen;
}

.carre{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}
.carre:active{
    background-color: blue;
    width: 300px;
}
.truc:focus{
    background-color: rgb(166, 199, 116);
    color: indianred;
    border-color: red;
}
.range:in-range{background-color: green;
}
.range:out-of-range{
    background-color: red;
}

.email:valid{
    background-color: greenyellow;
}
.email:invalid{
    background-color: red;
}

